@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Gentium+Basic);

$header-font: 'Open Sans', sans-serif;
$body-font: 'Gentium Basic', serif;

body {
  font-family: $body-font;

  .header {
    @include outer-container;

    h1{
      font-family: $header-font;
      @include padding(1.5em 0 0 0);
    }

    p{
      max-width: 500px;
      @include padding(2em 0 2em 0);
    }
  }

  .body{
      @include outer-container;
      @include padding(2em 0 2em 0);
   }
}
